<div class="contenedor">
  <div class="slider">
    <ul>
    <li><img src="https://i.ytimg.com/vi/ov9UqIEa8Zs/maxresdefault.jpg" alt="imagen de huevos en encubadoras">
    <div class="text-slider">
    <h4>¡Bienvenido a PokeAPI!</h4>
    <p>App en la que podras visualizar infomacion de tus pokemones</p></div></li>
                         
    <li><img src="https://media.vandal.net/i/1200x630/8-2021/202181917155469_1.jpg" alt= "imagen del pokémon pez Feebas">
    <div class="text-slider">
    <h4>PokeAPI</h4>
    <p>Esta pagina consume el PokeApi, API que comparte infomacion de los pokemones existentes. Aventurate y conoce a cada uno de ellos</p></div></li>
      
    <li><img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/main_element/public/media/image/2018/12/pokemon-go_1.jpg?itok=G31abuxf" alt="imagen caja de pokémon legendario">
    <div class="text-slider">
    <h4>¡Celebra un nuevo año legendario!</h4>
    <p>Dale la bienvenida al año nuevo. Tendrás la oportunidad de encontrarte con dos nuevos Pokémon al conseguir logros de investigación: ¡Lugia y Ho-Oh!</p></div></li>
   
   <li><img src="https://pokemongolive.com/img/posts/hoenn-jan2019.jpg" alt="imagen evento región Hoenn">
    <div class="text-slider">
    <h4>¡Celebra la región de Hoenn!</h4>
    <p>Los Pokémon originalmente descubiertos en la región de Hoenn aparecerán con más frecuencia durante este evento. Del 15 al 29 de Enero de 2019</p></div></li>   
  
  
  
  
  </ul>
   </div>

</div>
