
.header-i{
    background-size: cover;
}

.mat-card-title{
    text-transform: uppercase;
    color: white;

}

.mat-card-subtitle{
    color: black;
}

.card{
    margin-top: 20px;
    margin: auto;
    width: 250;
}

.mat-card-header{
    background-color:rgba(69, 150, 255, 0.891);
    border-radius: 10px;
    padding-top: 10px;
    border-color: rgb(0, 0, 0);
}