
.header-i{
    background-size: cover;
    margin-left: 10px;
    
}

.mat-card-title{
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin: auto;

}

.mat-card-subtitle{
    color: black;
    text-align: left;
    font-size: medium;
}

.mat-card{
    margin-top: 10px;
    margin: auto;
 

}

.mat-card-header{
    background-color:rgba(41, 91, 157, 0.891);
    border-radius: 10px;
    padding-top: 10px;
    border-color: rgb(0, 0, 0);
    margin: auto;
}